<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between">
      <div class="col col-12">
        <div class="card-product m-5">
          <div class="card-product-infos">
<h1>User Profile:</h1>

<h2> Name: <%= current_user.full_name %> </h2>

<h2> Email: <%= current_user.email %> </h2>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
