<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between">
      <div class="col col-6">
<h1>Result</h1>

<h2> <%= @score %> </h2>

<h2><%= link_to "Play again", games_path %> </h2>
      </div>
    </div>
  </div>
</div>
