// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

/* Your board style here */
.racer-table td {
  height: 60px;
  width: 60px;
}
.racer-table {
  margin: auto;
}
.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1-race td.active {
  background-image: url("images/player_1.png");
  background-position: center;
}
#player2-race td.active {
  background-image: url("images/player_2.png");
  background-position: center;
}
.square {
  border: 1px solid black;
}
.finish {
  background-image: url("images/finish.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.winner1 {
  position: relative;
  background-image: url(images/player_1.png), url(images/finish.png);
  background-position: center, center;
  background-size: 100%;
  background-repeat: no-repeat, no-repeat;
}
.winner2 {
  position: relative;
  background-image: url(images/player_2.png), url(images/finish.png);
  background-position: center, center;
  background-size: 100%;
  background-repeat: no-repeat, no-repeat;
}
