// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

#banner{
  text-align: center;
  // background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

/* Your board style here */
.racer-table td {
  height: 60px;
  width: 60px;
}
.racer-table {
  margin: auto;
}
.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1-race td.active {
  background-image: url("player_1.png");
  background-position: center;
}
#player2-race td.active {
  background-image: url("player_2.png");
  background-position: center;
}
.square {
  border: 1px solid black;
}
.finish {
  background-image: url("finish.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.winner1 {
  position: relative;
  background-image: url(player_1.png), url(finish.png);
  background-position: center, center;
  background-size: 100%;
  background-repeat: no-repeat, no-repeat;
}
.winner2 {
  position: relative;
  background-image: url(player_2.png), url(finish.png);
  background-position: center, center;
  background-size: 100%;
  background-repeat: no-repeat, no-repeat;
}
