// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

#banner{
  text-align: center;
  // background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

/* Your board style here */
.racer-table td {
  height: 60px;
  width: 60px;
}
.racer-table {
  margin: auto;
}
.racer-table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1-race td.active {
  background-image: url("player_1.png");
  background-position: center;
}
#player2-race td.active {
  background-image: url("player_2.png");
  background-position: center;
}
.square {
  border: 1px solid black;
}
.finish {
  background-image: url("finish.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.winner1 {
  position: relative;
  background-image: url(player_1.png), url(finish.png);
  background-position: center, center;
  background-size: 100%;
  background-repeat: no-repeat, no-repeat;
}
.winner2 {
  position: relative;
  background-image: url(player_2.png), url(finish.png);
  background-position: center, center;
  background-size: 100%;
  background-repeat: no-repeat, no-repeat;
}

.card-product {
  overflow: hidden;
  height: fit-content;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 180px;
  width: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.home-card {
  border-radius: 22px;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 12px;
}

.card-product-infos {
  font-size: 16px;
}

a {
  text-decoration: none;
}

h2 a {
  color: #FFB703;
}

a {
  color: #FFB703;
}

a:hover {
  color: #FB8500;
}
i {
  color: #FFB703;
  margin-right: 4px;
}

.flag img {
  height: 300px;
  width: 500px;
  object-fit: contain;
  border-radius: 12px;
}
